.sec1{
	background:#8e35ff;	
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.sec1 h3{
	font-size: 0.34rem;
	color: #fefefe;
	text-align: center;
	margin-top:1.08rem;
}
.xuan{
	width: 6.5rem;
	margin-top: 1.06rem;
	text-align: center;
	color: #fefefe;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.xuan>ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.xuan>ul>li{
	margin: 0.37rem 0.3rem;
}
.xuan>ul>li ul{
	margin-top: 0.17rem;
}
.xuan>ul>li li:nth-of-type(2){
	margin-top: 0.12rem;
}
.xuan>ul>li li:nth-of-type(3){
	margin-top: 0.09rem;
}
.xuan img{
	width: 1.21rem;
}
.quxiao{
	margin-top: 1.69rem;
	margin-bottom: 1.34rem;
}
.quxiao img{
	height: 0.8rem;
	width: 0.8rem;
}


